<%= stylesheet_link_tag "application.css", :meddia=>"all" %>
<div class="sidebar">
    <ul class="list_size">
        <li>
            <%= link_to "ホーム", tweets_path %>
        </li>
        <li>話題を検索</li>
        <li>メッセージ</li>
        <li>ブックマーク</li>
        <li>リスト</li>
        <li>プロフィール</li>
        <li>もっと見る</li>
    </ul>
    <h3><%= link_to "ツイートする", new_tweet_path %></h3>
</div>