<!DOCTYPE html>
<html>
  <body>
    <div id="container">
      <div id="header">
        <%= render "header" %>
      </div>
      
      <div id="sidebar">
        <%= render "sidebar" %>
      </div>
      
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
